.add-new-modal__form {
  display: flex;
  flex-direction: column;
}

.add-new-modal__title {
  margin: 0 0 20px 0;
}

.add-new-modal__input {
  border: none;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: transparent;
  padding: 0 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.add-new-modal__input:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.add-new-modal__buttons {
  display: flex;
  justify-content: space-between;
}

.add-new-modal__btn {
  height: 40px;
  flex-basis: 100px;
  padding: 0;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new-modal__cancel-btn:hover,
.add-new-modal__cancel-btn:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

.add-new-modal__submit-btn {
  background-color: #2ecc71;
  border: 1px solid #29b765;
  color: white;
  transition: background-color 0.2s, border 0.2s;
}

.add-new-modal__submit-btn:hover,
.add-new-modal__submit-btn:focus {
  background-color: #40d37e;
  outline: none;
}

.add-new-modal__submit-btn:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}
