.loading-screen {
  position: relative;
}

.loading-screen__overlay {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
